.header {
  text-align: center;
  margin-bottom: 20px;
}

.chessboard {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

.chess-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}
#a1,#a3,#a5,#a7,#c1,#c3,#c5,#c7,#e1,#e3,#e5,#e7,#g1,#g3,#g5,#g7,#b2,#b4,#b6,#b8,#d2,#d4,#d6,#d8,#f2,#f4,#f6,#f8,#h2,#h4,#h6,#h8{
  background-color: burlywood;
}
.chess-piece {
  width: 40px;
  height: 40px;
}
